@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

::selection {
	color: #ffffff;
	background: #f43f5e;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #dddddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(0, 145, 218);
	border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(0, 170, 255);
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
